html {
    width: 60%;
    height: 100%;
    min-height: 100%;
    margin: 0 auto;
    font-size: 16px;
    background-color: #FFFFFF;
    scroll-behavior: smooth;
    letter-spacing: 1px;
    overflow: auto;
}

